form{
    display: flex;
    flex-direction: column;
}

.form-container{
    width: 49%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding: 20px;
    // margin: 20px auto;
    // display: flex;
}

.full-width mat-form-field{
    width: 100%;
}
