form{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.form-container{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: 10px 20px;
    margin: 20px 0 0 25px;
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.todoList{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 0 0 10px;
}

.full-width mat-form-field{
    width: 100%;
}
.card{
    width: 270px;
    height: fit-content;
    background-color: cornsilk;
}

h1{
    font-size:20px;
    margin: 0;
}
